.container {
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 1rem;
}

.header {
  justify-content: flex-end;
  margin-bottom: 1rem;
  display: flex;
}

.listItem {
  align-items: center;
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.75rem;
  justify-content: space-between;
  display: flex;
}

.actions {
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
}

.pagination {
  justify-content: center;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
