.wrapper {
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 70px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.contentWrapper {
  flex: 1;
  min-width: 0;
}

.tags {
  color: #a80403;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 17px;
  font-weight: 400;
}

.title {
  font-size: 40px;
  color: #000;
  margin-bottom: 17px;
  font-style: normal;
  line-height: 50px;
  font-weight: 400;
}

.time {
  font-size: 16px;
  color: #000;
  margin-bottom: 17px;
  font-weight: 400;
}

.info {
  gap: 17px;
  margin-bottom: 17px;
  color: #000;
}

.content {
  font-size: 16px;
  color: #000;
  margin-bottom: 42px;
  line-height: 23px;
  font-weight: 400;

}

.button {
  width: auto;
  font-weight: normal;
  border-radius: 0;
  background-color: #a80403;
  box-shadow:
    inset 0 0 0 3px #a80403,
    inset 0 0 0 4px #fff;
  transition: box-shadow 0.2s ease-in-out;
  color: #fff;
  padding: 25px 32px;
  font-size: 16px;
  text-transform: uppercase;
}

.button:hover:not(:disabled) {
  box-shadow: inset 0 0 0 4px #a80403;
}

.wrapperButton {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 21px;
}

.socialText {
  font-size: 16px;
  color: #000;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
